@page "/"
@inject IJSRuntime js

<AuthorizeView>
    <Authorized>
        <h1>Witaj, @context.User.Identity.Name!</h1>
        <img src="~/css/images/avatar.webp" alt="Logo" />
    </Authorized>
    <NotAuthorized>
        <h1>Witaj! Aby wyświetlić opcje w NavMenu zaloguj się!</h1>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <br /> <br />
        <button class="btn btn-outline-primary" @onclick="DisplayGreetingAlert"><p>Display Greeting Alert</p></button>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private async Task DisplayGreetingAlert()
    {
        var authState = await authenticationState;
        var message = $"Hello {authState.User.Identity.Name}";
        await js.InvokeVoidAsync("alert", message);
    }
}
